@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-dark-900 antialiased;
  }
}

/* Minimalist Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-200 rounded-full transition-colors duration-200;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-dark-400;
}

/* Fallback/Overrides Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d4db transparent;
  /* dark-200 color approx */
}


@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #d1d4db;
    /* Cor dark-200 do nosso design system */
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8aebc;
    /* Cor dark-300 */
  }
}

/* Ajustes finos para o SubMenu do Ant Design no Sidebar Escuro */
.custom-dark-menu .ant-menu-submenu-title {
  border-radius: 12px !important;
  color: #a8aebc !important;
  /* text-dark-300 */
}

.custom-dark-menu .ant-menu-submenu-title:hover {
  background-color: #2d3040 !important;
  /* bg-dark-800 */
}

.custom-dark-menu .ant-menu-sub {
  background-color: transparent !important;
}

.custom-dark-menu .ant-menu-item {
  border-radius: 12px !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.custom-dark-menu .ant-menu-item-selected {
  background-color: #389334 !important;
  /* bg-primary-500 */
  color: #ffffff !important;
}